<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/css/katex.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="site-layout">
    <aside class="sidebar">
      <nav>
        <h2>Sections</h2>

        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/Functional/">Functional</a></li>
          <li><a href="/NixOS/">NixOS</a></li>
          <li><a href="/Miscellany/">Miscellany</a></li>
        </ul>
      </nav>
    </aside>

    <main>
      <nav class="post-nav">
        <a href="#">Previous</a>
        <a href="/">Contents</a>
        <a href="#">Next</a>
      </nav>

      $body$
    </main>
  </div>
</body>
</html>

