@use "./base.scss";

// put your custom CSS here!

@font-face {
  font-family: "Fantasque";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/static/Fantasque.woff2") format("woff2")
       url("/static/Fantasque.woff") format("woff");
}
